{ "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended", "plugin:cypress/recommended"],
  "rules": {
    "prettier/prettier": ["error",
      {
        "singleQuote": true,
        "printWidth": 100,
        "semi": true,
        "jsxSingleQuote": true,
        "arrowParens": "avoid"
  }]},
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "cypress/globals": true

  },
  "globals": {
    "cy": true
  }
}